body{
margin: 0;
padding: 0;


}

.card-img-top{
object-fit: contain;

}

.page-link{
    cursor: pointer;
}

body{
    overflow-x: hidden;
    flex-wrap: wrap;
}



.custom-width{
    width: 350px;
}

.no-rounded {
    border-radius: 0; /* Set border-radius to 0 to remove rounded corners */
  }

  .btn-rou{

border-radius: none

}



.footer-el{

position: relative;
top: 200px;


}

.offer-heading{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search-btn{

    background-color: orange;
    padding: 5px 30px;
border-left: none;



}
/* .carousel-item{
    height: 500px;
} */

img{
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
}

@media only screen and (max-width: 600px) {
    .search-btn{

        background-color: orange;
        padding: 3px 20px;
    border-left: none;
    
    }

    
.custom-width{
    width: 250px;
}
.input-group{

    margin-left: 75px;
}
input{
    border-bottom: none;
}

  }





