body{
margin: 0;
padding: 0;


}

.card-img-top{
object-fit: contain;

}

.page-link{
    cursor: pointer;
}

body{
    overflow-x: hidden;
}



.custom-width{
    width: 350px;
}

.no-rounded {
    border-radius: 0; /* Set border-radius to 0 to remove rounded corners */
  }

  .btn-rou{

border-radius: none

}



.footer-el{

position: relative;
top: 200px;


}

.offer-heading{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}